{
	"presets": [
		["@babel/preset-env", { "modules": false }]
	],
	"plugins": [
		[ "@babel/plugin-transform-react-jsx", {
			"pragma": "el"
		} ],
		[ "@wordpress/babel-plugin-makepot", {
			"output": "src/languages/wptelegram-login.js.pot"
		} ]
	]
}