#adminmenu #toplevel_page_wptelegram_login div.wp-menu-image::before {
	content: ' ';
	background-image: url('../icons/icon-20x20.png');
	background-repeat: no-repeat;
	background-size: 20px;
	background-position: 0 0;
	padding: 0px;
	position: absolute;
	left: 8px;
	top: 7px;
	transition: none;
}
#adminmenu #toplevel_page_wptelegram_login:not(.current):hover div.wp-menu-image::before {
	background-position: 0 -40px;
}
#adminmenu #toplevel_page_wptelegram_login.current div.wp-menu-image::before {
	background-position: 0 -20px;
}

@media (min-width: 768px) {
	#wptelegram-login-settings > .wrapper {
		display: flex;
	}
}
