@font-face {
	font-family: 'WPTelegram';
	src: url('../fonts/WPTelegram.eot'); /* IE9 Compat Modes */
	src: url('../fonts/WPTelegram.eot?#iefix') format('embedded-opentype'),
		/* IE6-IE8 */ url('../fonts/WPTelegram.otf') format('opentype'),
		/* Open Type Font */ url('../fonts/WPTelegram.svg') format('svg'),
		/* Legacy iOS */ url('../fonts/WPTelegram.ttf') format('truetype'),
		/* Safari, Android, iOS */ url('../fonts/WPTelegram.woff') format('woff'),
		/* Modern Browsers */ url('../fonts/WPTelegram.woff2') format('woff2'); /* Modern Browsers */
	font-weight: normal;
	font-style: normal;
}

#adminmenu #toplevel_page_wptelegram_login .menu-icon-generic div.wp-menu-image::before {
	font-family: WPTelegram !important;
	content: '\e03d';
}
