#loginform #wptelegram-login-wrap,
#loginform #wptelegram-login-wrap * 
#registerform #wptelegram-login-wrap,
#registerform #wptelegram-login-wrap * {
	box-sizing: border-box;
}
#wptelegram-login-wrap {
    display: none;
    position: absolute;
    padding: 0 24px;
    text-align: center;
}
#loginform #wptelegram-login-wrap p {
	color: #777777;
	margin-bottom: 16px;
}
.wptelegram-login-or {
	margin-bottom: 16px;
	position: relative;
	text-align: center;
}
.wptelegram-login-or:before {
	background: #E5E5E5;
	content: '';
	height: 1px;
	position: absolute;
	left: 0;
	top: 50%;
	width: 45%;
}
.wptelegram-login-or:after {
	background: #E5E5E5;
	content: '';
	height: 1px;
	position: absolute;
	right: 0;
	top: 50%;
	width: 45%;
}
.wptelegram-login-or span {
	color: #777;
	position: relative;
	padding: 0 8px;
	text-transform: uppercase
}
.wptelegram-login-clear:after {
	content: "";
	display: table;
	clear: both;
}
