/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */
.wptelegram-header-wrapper {
    background: #fff;
    border: 3px solid #bbb;
    border-radius: 15px 15px 0 0;
    position: relative;
    padding: 10px;
    overflow: hidden;
}
.wptelegram-header-wrapper table {
    width: 100%;
    table-layout: fixed;
}
@media screen and (max-width: 600px) {
    .wptelegram-header-wrapper td,.wptelegram-header-wrapper th { display: block }
}
.wptelegram-header-wrapper .wptelegram-title h1 {
    color: #20627b;
}
.wptelegram-header-wrapper td {
    text-align: center;
}
.wptelegram-socials p {
    margin: 5px 0;
}
.wptelegram-socials .fb-like {
    margin: 5px 0;
}
.telegram-follow-button {
    color: #fff;
    background: #1e96c8;
    padding: 3px 7px;
    font-weight: 500;
    font-size: 11px;
    border-radius: 4px;
    white-space: nowrap;
}
.telegram-follow-button:hover {
    background: #167ba5;
    color: #fff;
}
#wptelegram-header h2 {
    display: inline;
    margin-right: 10px;
}
#wptelegram-header h2 img {
    vertical-align: middle;
}
#wptelegram-header h2 span {
    margin-right: 10px;
    vertical-align: middle;
}
.option-wptelegram_login > h2{
    display: none;
}
.option-wptelegram_login #bot-info{
 	color:#bb0f3b;
}
.option-wptelegram_login #wptelegram-login-token-err{
 	color:#f10e0e;
 	font-weight:bold;
}
.option-wptelegram_login a{
 	text-decoration: none;
}
 .option-wptelegram_login li, .option-wptelegram_login p {
    font-size: 16px !important;
}
.option-wptelegram_login code, .option-wptelegram_login pre {
    padding: 2px 4px;
    font-size: 95%;
    color: #bb0f3b;
    background-color: #f7f7f7;
    border-radius: 5px;
    font-style: normal;
}
.option-wptelegram_login .cmb-td input[type=text] {
    font-size: 1.5em;
    font-family: monospace;
    font-weight: 200;
    vertical-align: middle;
}
.option-wptelegram_login #bot_token{
	width: 100% !important;
	max-width: 400px;
}
.option-wptelegram_login button {
    vertical-align: middle !important;
}
.wptelegram-header-desc{
    border: 3px solid #bbb !important;
    border-top: 0px !important;
}
.option-wptelegram_login .info{
    color:#f10e0e;
    font-weight:bold;
}
form#wptelegram_login_messages p.submit{
    margin-top: 0px;
}